CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vs/
out/
run/
bin/log/
bin/light_test/
bin/*.lib
bin/*.a
bin/*.dll
bin/*.dylib
bin/*.manifest
bin/td*
bin/md*
bin/*.pdb
bin/*.exp
bin/*.exe
bin/*.ilk
bin/*.mmf
bin/cache/
bin/data/
bin/result/
.idea
build
cmake-build-debug
/bin/config/rt_simnow.ini
